*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.jpg);

}

.side-nav{
    width: 250px;
    height: 100%;
    background: #0d74f5;
    position: fixed;
    top: 0;
    left: 0;
    padding:  20px 30px;

}

.logo{
    display: block;
    margin-bottom: 40px;
}

.logo img{
    width: 150px;
}

.nav-list{
    list-style: none;
    position: relative;
}

.nav-list li{
    padding:10px 0;

}

.nav-list li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 14px;
    display:flex;
    align-items: center;
}

.nav-list li a i{
    font-size: 24px;
    margin-right: 20px;
}

.active
{
    background: #fff;
    width: 100%;
    height: 47px;
    position: absolute;
    top: 1.2%;
    left: 0;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255,255,255,0.4);
    display: none;
    transition: top 0.3s ease;
}

.nav-list li:hover a{
    color: black;
    transition: 0.3s;
}

.nav-list li:hover ~ .active{
    display: block;
}

.nav-list li:nth-child(1):hover ~ .active{
    top: 1.2%;
}

.nav-list li:nth-child(2):hover ~ .active{
    top: 13.7%;
}

.nav-list li:nth-child(3):hover ~ .active{
    top: 26.2%;
}

.nav-list li:nth-child(4):hover ~ .active{
    top: 38.7%;
}

.nav-list li:nth-child(5):hover ~ .active{
    top: 51.2%;
}

.nav-list li:nth-child(6):hover ~ .active{
    top: 63.7%;
}
.nav-list li:nth-child(7):hover ~ .active{
    top: 76.2%;
}

.nav-list li:nth-child(8):hover ~ .active{
    top: 88.7%;
}

@media only screen and (max-width: 600px){

   .side-nav {
       width: 110px;
   }
   .nav-list li a p{
       display: none;
   }
   .nav-list li a i{
    margin-right: 0;
   }

   .nav-list li a {
       justify-content: center;
   }
}

    